@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

:root {
  --font:'Lato', sans-serif;
  --color: #b852a2;
  --shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font)
}